* {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.table-container {
    margin: 20px;
}

.table-title {
    padding: 10px;
}

.table {
    padding: 10px;
}

.table-header-cell {
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

.table-row {
    padding: 5px 0px 5px 0px;
}

.flex-offset-1 {
    margin-left: 1%;
}