<md-content layout-padding>
    <div layout-lg md-whiteframe="6">
        <div layout>
            <md-input-container flex>
                <label>Количество разъемов</label>
                <input ng-model="connectorsAmount">
            </md-input-container>
            <md-input-container flex>
                <label>Количество связей</label>
                <input ng-model="linksAmount">
            </md-input-container>
            <md-input-container flex>
                <label>Количество выводов разъема</label>
                <input ng-model="pinsAmount">
            </md-input-container>
            <md-input-container flex>
                <label>Количество колонок выводов</label>
                <input ng-model="columnPinsAmount">
            </md-input-container>
            <md-input-container flex>
                <label>Минимальная емкость каналов</label>
                <input ng-model="minChannelCapacity">
            </md-input-container>
            <md-input-container flex>
                <label>Максимальная емкость каналов</label>
                <input ng-model="maxChannelCapacity">
            </md-input-container>
            <md-input-container flex>
                <label>Метод решения</label>
                <md-select ng-model="algorithmType" placeholder="Выберите метод решения">
                    <md-optgroup>
                        <md-option ng-value="algorithm.name" ng-repeat="algorithm in algorithms track by $index">
                            {{algorithm.title}}
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
        <div layout>
            <md-button class="md-raised" ng-click="generateField()"
                       ng-disabled="connectorsAmount < 3 || linksAmount < 1 || !pinsAmount || pinsRowsAmount < 1">Сгенерировать поле</md-button>
            <md-button ng-click="traceField()" ng-disabled="!field" class="md-raised">Решить задачу</md-button>
        </div>
        <textarea class="tall wide" ng-model="field"></textarea>
    </div>
</md-content>

<script src="resources/js/lightweightGenerator.js"></script>