<!DOCTYPE html>
<html>
<head></head>
<body>
    <textarea class="wide tall">{{field}}</textarea>
    <button ng-click="traceField()">Trace it!</button>

    <script src="resources/js/lightweightGenerator.js"></script>
    <script>

        function trace() {
            $.ajax({
                "url": "field",
                "data": $("#result").text(),
                "method": "POST",
                'dataType': 'application/json',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).done(function(field) {
                console.log(field);
            })
        }
    </script>
</body>
</html>